/*-----------------------------------------------

 # Stylesheet: Navigation Menu Stylesheet

 ----------------------------------------------*/

.menu,
.submenu {
  list-style: none;
  margin: 0;
  padding-left: 0;

  .menu-item {
    position: relative;
    transition: background-color 0.2s;

    a {
      display: block;
      position: relative;
      white-space: nowrap;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.current-menu-item > a {
  color: var(--color-primary);
}

.menu {
  & > .menu-item {
    & > a {
      width: 100%;
    }
  }

  &.is-expanded {
    & > .submenu {
      visibility: visible;
    }
  }
}

.submenu {
  visibility: hidden;
  max-width: none;

  & > .menu-item {
    & > a {
      color: $submenu-item__link__color;
      background-color: $submenu-item__link__background-color;
      text-transform: $submenu-item__link__text-transform;
      width: 100%;

      &:focus,
      &:hover {
        color: $submenu-item__link__color--hover;
        background-color: $submenu-item__link__background-color--hover;
      }
    }
  }
}

.main-menu {
  background-color: $main-menu__background-color--site;
  padding: $main-menu__padding--site;

  .menu-item {
    a {
      font-family: $main-menu-item__link__font-family;
      font-size: $main-menu-item__link__font-size--site;
      font-weight: $main-menu-item__link__font-weight;
      line-height: $main-menu-item__link__line-height--site;
      color: $main-menu-item__link__color--site;
      background-color: $main-menu-item__link__background-color--site;
      text-transform: $main-menu-item__link__text-transform;
      padding: $main-menu-item__link__padding--site;

      &:focus,
      &:hover {
        color: $main-menu-item__link__color--hover--site;
        background-color: $main-menu-item__link__background-color--hover--site;
        text-decoration: none;
      }

      &:focus {
        z-index: 1;
      }
    }

    &--highlighted {
      border-radius: var(--space-050);

      & > a {
        color: $main-menu-item__link--highlighted__color;
        background-color: $main-menu-item__link--highlighted__background-color;

        &:focus,
        &:hover {
          color: $main-menu-item__link--highlighted__color--hover;
          background-color: $main-menu-item__link--highlighted__background-color--hover;
        }
      }
    }
  }
}

.top-menu {
  background-color: $top-menu__background-color--site;
  padding: $top-menu__padding--site;

  .menu-item {
    & > a {
      font-family: $top-menu-item__link__font-family;
      font-size: $top-menu-item__link__font-size--site;
      font-weight: $top-menu-item__link__font-weight;
      line-height: $top-menu-item__link__line-height--site;
      color: $top-menu-item__link__color--site;
      background-color: $top-menu-item__link__background-color--site;
      text-transform: $top-menu-item__link__text-transform;
      padding: $top-menu-item__link__padding--site;

      &:focus,
      &:hover {
        background-color: $top-menu-item__link__background-color--hover--site;
      }

      i {
        font-size: calc(#{$top-menu-item__link__font-size--site} * 1.125);
        margin: -2px 0;
      }
    }
  }
}

.collapsible-navigation {
  .search-form {
    .search-field {
      padding: $main-menu-item__link__padding--collapsible;
    }
  }

  .menu {
    .menu-item {
      a {
        border-bottom: $menu-item__border-bottom--collapsible;

        &:focus {
          outline: $collapsible-nav__link__outline;
        }
      }

      &:last-child > a {
        border-bottom: none;
      }
    }
  }

  .main-menu {
    background-color: $main-menu__background-color--collapsible;
    padding: $main-menu__padding--collapsible;

    .menu-item {
      a {
        font-size: $main-menu-item__link__font-size--collapsible;
        line-height: $main-menu-item__link__line-height--collapsible;
        text-align: $main-menu-item__link__text-align--collapsible;
        color: $main-menu-item__link__color--collapsible;
        background-color: $main-menu-item__link__background-color--collapsible;
        padding: $main-menu-item__link__padding--collapsible;

        &:focus,
        &:hover {
          color: $main-menu-item__link__color--hover--collapsible;
          background-color: $main-menu-item__link__background-color--hover--collapsible;
        }

        &:focus {
          z-index: 1;
        }
      }
    }
  }

  .top-menu {
    background-color: $top-menu__background-color--collapsible;
    padding: $top-menu__padding--collapsible;

    .menu-item {
      a {
        font-size: $top-menu-item__link__font-size--collapsible;
        color: $top-menu-item__link__color--collapsible;
        background-color: $top-menu-item__link__background-color--collapsible;
        line-height: $top-menu-item__link__line-height--collapsible;
        padding: $top-menu-item__link__padding--collapsible;
        border-bottom: $menu-item__border-bottom--collapsible;

        &:focus,
        &:hover {
          color: $top-menu-item__link__color--hover--collapsible;
          background-color: $top-menu-item__link__background-color--hover--collapsible;
        }

        &:focus {
          z-index: 1;
        }
      }

      i {
        font-size: calc(
          #{$top-menu-item__link__font-size--collapsible} * 1.125
        );
      }
    }
  }

  .menu-item-has-children {
    & > a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 7px 8px -6px rgba(0, 0, 0, 0.24);
      opacity: 0;
      transition: opacity 0.12s ease-in 0.2s;
    }
  }

  .submenu {
    background-color: $submenu__background-color--collapsible;
    padding: $submenu__padding--collapsible;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.5s,
      visibility 0s linear 0.5s;

    & > .menu-item {
      & > a {
        font-size: $submenu-item__link__font-size--collapsible;
        line-height: $submenu-item__link__line-height--collapsible;
        text-align: $submenu-item__link__text-align--collapsible;
        padding: $submenu-item__link__padding--collapsible;
      }
    }
  }

  .is-expanded {
    & > a::before {
      box-shadow: 0 7px 8px -6px rgba(0, 0, 0, 0.24);
      opacity: 1;
      transition: opacity 0.32s;
    }

    & > .submenu {
      max-height: 25rem;
      transition: max-height 1s;
    }
  }
}

.site-navigation__top,
.site-navigation__bottom {
  .menu {
    display: flex;
    flex-wrap: wrap;

    & > .menu-item {
      text-align: $submenu-item__link__text-align--site;
      margin-right: $main-menu-item__gap--site;

      &:last-child {
        border-bottom: none;
        margin-right: 0;
      }

      & > .submenu {
        top: 80%;
        left: 0;
        transition:
          opacity 0.32s visibility 0s ease 0.32s,
          top 0s linear 0.32s;

        &::after {
          top: calc(var(--space-025) * -1);
          left: var(--space-100);
          border-color: $submenu__background-color--site
            $submenu__background-color--site transparent transparent;
          box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.12);
        }
      }

      &--highlighted {
        margin-left: var(--space-100);
      }

      &--mirrored {
        & > .submenu {
          top: 80%;
          left: initial;
          right: 0;

          &::after {
            left: auto;
            right: var(--space-100);
          }

          a {
            text-align: $main-menu-item__link--mirrored__text-align;
          }
        }

        &.menu-item-has-children {
          &:focus > .submenu,
          &:hover > .submenu,
          &.is-expanded > .submenu {
            left: initial;
          }
        }

        .menu-item-has-children {
          & > a {
            padding: $submenu-item__link__padding--site;
            padding-left: calc(var(--space-100) * 2 + var(--space-025));
          }

          & > .submenu-toggle {
            top: 50%;
            transform: translateY(-50%) rotate(-180deg);
            right: auto;
            left: 0;
          }

          & > .submenu {
            left: initial;
            right: 80%;
          }

          &:focus > .submenu,
          &:hover > .submenu,
          &.is-expanded > .submenu {
            left: initial;
            right: 100%;
          }

          .submenu::after {
            left: calc(100% - var(--space-025));
            right: auto;
            transform: rotate(135deg);
          }
        }
      }
    }

    .menu-item-has-children {
      position: relative;
      display: flex;
      align-items: center;

      &:focus > .submenu,
      &:hover > .submenu,
      &.is-expanded > .submenu {
        visibility: visible;
        opacity: 1;
        left: 100%;
        transition:
          opacity 0.32s,
          visibility 0s,
          left 0.32s,
          right 0.32s;
        @include box-shadow(1);
      }
    }

    & > .menu-item-has-children {
      & > a {
        padding-right: calc(var(--space-100) * 2 + var(--space-025));
      }

      &:focus > .submenu,
      &:hover > .submenu,
      &.is-expanded > .submenu {
        top: 100%;
        left: 0;
        transition:
          opacity 0.32s,
          visibility 0s,
          top 0.32s;
      }
    }
  }

  .submenu {
    display: flex;
    flex-direction: column;
    background-color: $submenu__background-color--site;
    padding: $submenu__padding--site;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(var(--space-025) * -1);
    left: 80%;
    transition:
      opacity 0.32s visibility 0s ease 0.32s,
      left 0s linear 0.32s,
      right 0s linear 0.32s;

    & > .menu-item {
      border-bottom: 1px solid var(--gray-100);

      &:last-child {
        border-bottom: none;
      }

      & > a {
        font-size: $submenu-item__link__font-size--site;
        text-align: $submenu-item__link__text-align--site;
        line-height: $submenu-item__link__line-height--site;
        padding: $submenu-item__link__padding--site;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: var(--space-125);
      right: calc(100% - var(--space-025));
      width: 0;
      height: 0;
      border: var(--space-025) solid transparent;
      border-color: $submenu__background-color--site transparent transparent
        $submenu__background-color--site;
      background-color: $submenu__background-color--site;
      transform: rotate(-45deg);
      box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.16);
    }

    .menu-item-has-children {
      & > a {
        padding-right: calc(var(--space-100) * 2 + var(--space-025));
      }
    }
  }
}
