/*-----------------------------------------------

 # Stylesheet: Navigation Search Stylesheet

 ----------------------------------------------*/

.site-navigation {
  .search-container {
    z-index: 110;
  }
}

.collapsible-navigation {
  .search-form {
    padding: $search-bar-form__padding--collapsible;
    margin: $search-bar-form__margin--collapsible;

    .search-field {
      font-size: $search-bar-form__input__font-size--collapsible;
      color: $search-bar-form__input__color--collapsible;
      background-color: $search-bar-form__input__background-color--collapsible;
      @if ($search-bar-form__input__border-top--collapsible != null) {
        border-top: $search-bar-form__input__border-top--collapsible;
      }
      @if ($search-bar-form__input__border-right--collapsible != null) {
        border-right: $search-bar-form__input__border-right--collapsible;
      }
      @if ($search-bar-form__input__border-bottom--collapsible != null) {
        border-bottom: $search-bar-form__input__border-bottom--collapsible;
      }
      @if ($search-bar-form__input__border-left--collapsible != null) {
        border-left: $search-bar-form__input__border-left--collapsible;
      }
      padding: $search-bar-form__input__padding--collapsible;
      margin: $search-bar-form__input__margin--collapsible;

      &::placeholder {
        color: $search-bar-form__input__placeholder-color--collapsible;
      }

      &:focus {
        background-color: $search-bar-form__input__background-color--focus--collapsible;
        @if ($search-bar-form__input__border-top--focus--collapsible != null) {
          border-top: $search-bar-form__input__border-top--focus--collapsible;
        }
        @if (
          $search-bar-form__input__border-right--focus--collapsible != null
        ) {
          border-right: $search-bar-form__input__border-right--focus--collapsible;
        }
        @if (
          $search-bar-form__input__border-bottom--focus--collapsible != null
        ) {
          border-bottom: $search-bar-form__input__border-bottom--focus--collapsible;
        }
        @if ($search-bar-form__input__border-left--focus--collapsible != null) {
          border-left: $search-bar-form__input__border-left--focus--collapsible;
        }
      }
    }

    .search-submit {
      color: $search-bar-form__button__color--collapsible;
      background-color: $search-bar-form__button__background-color--collapsible;
      border-radius: $search-bar-form__button__border-radius--collapsible;
      padding: $search-bar-form__button__padding--collapsible;

      .magnifying-glass-icon {
        height: $search-bar-form__button__icon__font-size--collapsible;

        .magnifying-glass-icon__glass {
          stroke: $search-bar-form__button__color--collapsible;
        }

        .magnifying-glass-icon__handle {
          fill: $search-bar-form__button__color--collapsible;
        }
      }

      &:hover {
        color: $search-bar-form__button__color--hover--collapsible;
        background-color: $search-bar-form__button__background-color--hover--collapsible;

        .magnifying-glass-icon {
          .magnifying-glass-icon__glass {
            stroke: $search-bar-form__button__color--hover--collapsible;
          }

          .magnifying-glass-icon__handle {
            fill: $search-bar-form__button__color--hover--collapsible;
          }
        }
      }

      &:focus {
        color: $search-bar-form__button__color--focus--collapsible;
        background-color: $search-bar-form__button__background-color--focus--collapsible;

        .magnifying-glass-icon {
          .magnifying-glass-icon__glass {
            stroke: $search-bar-form__button__color--focus--collapsible;
          }

          .magnifying-glass-icon__handle {
            fill: $search-bar-form__button__color--focus--collapsible;
          }
        }
      }

      &:active {
        color: $search-bar-form__button__color--active--collapsible;
        background-color: $search-bar-form__button__background-color--active--collapsible;

        .magnifying-glass-icon {
          .magnifying-glass-icon__glass {
            stroke: $search-bar-form__button__color--active--collapsible;
          }

          .magnifying-glass-icon__handle {
            fill: $search-bar-form__button__color--active--collapsible;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: calc(var(--bp-large) - 1px)) {
  .site-navigation {
    .search-container {
      display: none;
    }
  }
}

@media only screen and (min-width: var(--bp-large)) {
  .site-navigation {
    .search-container {
      background-color: $search-bar-container__background-color;
      padding: $search-bar-container__padding;
      margin: $search-bar-container__margin;
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 80%;
      left: 0;
      right: 0;
      transition: visibility 0s ease 0.32s, opacity 0.32s ease,
        top 0s linear 0.32s;

      &.is-expanded {
        visibility: visible;
        opacity: 1;
        top: 100%;
        margin: 0 auto;
        transition: visibility 0s linear, opacity 0.32s ease, top 0.32s ease;
      }

      .search-form {
        padding: $search-bar-form__padding--site;
        margin: $search-bar-form__margin--site;

        .search-field {
          font-size: $search-bar-form__input__font-size--site;
          color: $search-bar-form__input__color--site;
          background-color: $search-bar-form__input__background-color--site;
          @if ($search-bar-form__input__border-top--site != null) {
            border-top: $search-bar-form__input__border-top--site;
          }
          @if ($search-bar-form__input__border-right--site != null) {
            border-right: $search-bar-form__input__border-right--site;
          }
          @if ($search-bar-form__input__border-bottom--site != null) {
            border-bottom: $search-bar-form__input__border-bottom--site;
          }
          @if ($search-bar-form__input__border-left--site != null) {
            border-left: $search-bar-form__input__border-left--site;
          }
          padding: $search-bar-form__input__padding--site;
          margin: $search-bar-form__input__margin--site;

          &::placeholder {
            color: $search-bar-form__input__placeholder-color--site;
          }

          &:focus {
            background-color: $search-bar-form__input__background-color--focus--site;
            @if ($search-bar-form__input__border-top--focus--site != null) {
              border-top: $search-bar-form__input__border-top--focus--site;
            }
            @if ($search-bar-form__input__border-right--focus--site != null) {
              border-right: $search-bar-form__input__border-right--focus--site;
            }
            @if ($search-bar-form__input__border-bottom--focus--site != null) {
              border-bottom: $search-bar-form__input__border-bottom--focus--site;
            }
            @if ($search-bar-form__input__border-left--focus--site != null) {
              border-left: $search-bar-form__input__border-left--focus--site;
            }
          }
        }

        .search-submit {
          color: $search-bar-form__button__color--site;
          background-color: $search-bar-form__button__background-color--site;
          border-radius: $search-bar-form__button__border-radius--site;
          padding: $search-bar-form__button__padding--site;

          i {
            font-size: $search-bar-form__button__icon__font-size--site;
          }

          &:hover {
            color: $search-bar-form__button__color--hover--site;
            background-color: $search-bar-form__button__background-color--hover--site;
          }

          &:focus {
            color: $search-bar-form__button__color--focus--site;
            background-color: $search-bar-form__button__background-color--focus--site;
          }

          &:active {
            color: $search-bar-form__button__color--active--site;
            background-color: $search-bar-form__button__background-color--active--site;
          }
        }
      }
    }
  }
}
