/*-----------------------------------------------

 Stylesheet: Widgets Stylesheet

 ----------------------------------------------*/

.widget-area {
}

.widget {
  select {
    max-width: 100%;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    & ul {
      padding-left: var(--space-100);
    }
  }

  &.widget_media_image {
    .widget-title {
      border: 0 !important;
      clip: rect(0 0 0 0) !important;
      height: 0.0625rem !important;
      margin: -0.0625rem !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 0.0625rem !important;
    }
  }
}
