/*-----------------------------------------------

 # Stylesheet: Reset Stylesheet

 ----------------------------------------------*/

.is-hidden {
  display: none;
}

.is-scroll-locked {
  overflow: hidden;
}

.animate-fade-in {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.24s,
    opacity 0.24s;
}

.animate-fade-in-up {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 40%, 0);
  transition:
    visibility 0s ease 0.24s,
    opacity 0.24s transform 0.24s;
  will-change: transform;
}

.animate-fade-in-down {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, -40%, 0);
  transition:
    visibility 0s ease 0.24s,
    opacity 0.24s transform 0.24s;
  will-change: transform;
}

.is-faded-in {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition:
    visibility 0s linear,
    opacity 0.24s transform 0.24s;
}
