/*-----------------------------------------------

 # Stylesheet: Color Variables Stylesheet

 ----------------------------------------------*/

:root {
  /* Primary colors */
  --color-primary: #5468ff;
  --color-primary--lightest: color-mod(var(--color-primary) tint(45%));
  --color-primary--lighter: color-mod(var(--color-primary) tint(30%));
  --color-primary--light: color-mod(var(--color-primary) tint(15%));
  --color-primary--dark: color-mod(var(--color-primary) shade(15%));
  --color-primary--darker: color-mod(var(--color-primary) shade(30%));
  --color-primary--darkest: color-mod(var(--color-primary) shade(45%));
  --color-primary--alpha-50: color-mod(var(--color-primary) a(50%));
  --color-primary--dark--alpha-50: color-mod(var(--color-primary--dark) a(50%));

  /* Accent colors */
  --color-accent: #f4495d;
  --color-accent--lightest: color-mod(var(--color-accent) tint(45%));
  --color-accent--lighter: color-mod(var(--color-accent) tint(30%));
  --color-accent--light: color-mod(var(--color-accent) tint(15%));
  --color-accent--dark: color-mod(var(--color-accent) shade(15%));
  --color-accent--darker: color-mod(var(--color-accent) shade(30%));
  --color-accent--darkest: color-mod(var(--color-accent) shade(45%));
  --color-accent--alpha-50: color-mod(var(--color-accent) a(50%));
  --color-accent--dark--alpha-50: color-mod(var(--color-accent--dark) a(50%));

  /* Feedback */
  --color-success: var(--accent-green);
  --color-error: var(--accent-orange);
  --color-warning: var(--accent-yellow);

  /* Gray palette */
  --gray-base: #686a84;

  --white-rich: #fff;
  --white: color-mod(var(--gray-base) tint(92%));

  --gray-050: color-mod(var(--gray-base) tint(88%));
  --gray-100: color-mod(var(--gray-base) tint(80%));
  --gray-150: color-mod(var(--gray-base) tint(70%));
  --gray-200: color-mod(var(--gray-base) tint(60%));
  --gray-300: color-mod(var(--gray-base) tint(40%));
  --gray-400: color-mod(var(--gray-base) tint(20%));
  --gray-500: var(--gray-base);
  --gray-550: color-mod(var(--gray-base) shade(7.5%));
  --gray-600: color-mod(var(--gray-base) shade(15%));
  --gray-650: color-mod(var(--gray-base) shade(22.5%));
  --gray-700: color-mod(var(--gray-base) shade(30%));
  --gray-750: color-mod(var(--gray-base) shade(37.5%));
  --gray-800: color-mod(var(--gray-base) shade(45%));
  --gray-850: color-mod(var(--gray-base) shade(52.5%));
  --gray-900: color-mod(var(--gray-base) shade(60%));
  --gray-950: color-mod(var(--gray-base) shade(67.5%));

  --black: color-mod(var(--gray-base) shade(80%));
  --black-rich: #000;

  /* General color palette */
  --color-red: #ef4444;
  --color-orange: #f97316;
  --color-amber: #f59e0b;
  --color-yellow: #eab308;
  --color-olive: #b5cc18;
  --color-lime: #84cc16;
  --color-green: #22c55e;
  --color-emerald: #10b981;
  --color-teal: #14b8a6;
  --color-cyan: #06b6d4;
  --color-light-blue: #3399ff;
  --color-blue: #0080ff;
  --color-indigo: #6366f1;
  --color-violet: #8b5cf6;
  --color-purple: #a855f7;
  --color-fuchsia: #d946ef;
  --color-pink: #ec4899;
  --color-rose: #f43f5e;
  --color-brown: #a5673f;
}
