
.icon-android:before { content: '\e800'; } /* '' */
.icon-apple:before { content: '\e801'; } /* '' */
.icon-envelope:before { content: '\e802'; } /* '' */
.icon-envelope-outline:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-facebook-f:before { content: '\e805'; } /* '' */
.icon-facebook-square:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-instagram-square:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-linkedin-square:before { content: '\e80a'; } /* '' */
.icon-magnifying-glass:before { content: '\e80b'; } /* '' */
.icon-microphone:before { content: '\e80c'; } /* '' */
.icon-play:before { content: '\e80d'; } /* '' */
.icon-signal-stream:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\e80f'; } /* '' */
.icon-twitter-square:before { content: '\e810'; } /* '' */
.icon-volume:before { content: '\e811'; } /* '' */
.icon-volume-down:before { content: '\e812'; } /* '' */
.icon-volume-mute:before { content: '\e813'; } /* '' */
.icon-volume-off:before { content: '\e814'; } /* '' */
.icon-volume-up:before { content: '\e815'; } /* '' */
.icon-whatsapp:before { content: '\e816'; } /* '' */
.icon-whatsapp-square:before { content: '\e817'; } /* '' */
.icon-windows:before { content: '\e818'; } /* '' */
.icon-youtube:before { content: '\e819'; } /* '' */
.icon-youtube-square:before { content: '\e81a'; } /* '' */