/*-----------------------------------------------------------------

 # Stylesheet: Editor Stylesheet

   Here's where the magic happens. Here is where you import
   all of your Sass files so they can compile into one
   CSS file.

 ----------------------------------------------------------------*/

/* Mixins */
@import "mixins/mixins";

/* Abstracts */
@import "abstracts/color";
@import "abstracts/spacing";
@import "abstracts/typography";
@import "abstracts/configuration";

.edit-post-layout {
  .wp-block,
  .components-placeholder {
    max-width: var(--site-main__width);

    &[data-align="wide"] {
      max-width: calc(var(--site-main__width) * 1.2);
    }

    &[data-align="full"] {
      max-width: none;
    }
  }

  .components-placeholder {
    max-width: var(--site-main__width);
    margin-left: auto;
    margin-right: auto;
  }
}

body.post-type-post {
  .edit-post-layout .wp-block {
    max-width: rem(680px);
  }
}

.edit-post-visual-editor .editor-styles-wrapper {
  font-family: var(--body__font-family);
  font-size: $single__entry-content__font-size;
  line-height: var(--body__line-height);
  color: var(--text__color);
  background-color: var(--body__background-color);

  p {
    line-height: inherit;
  }

  .editor-post-title__block .editor-post-title__input {
    font-family: var(--heading__font-family);
    font-size: $single__entry-title__font-size;
    font-weight: $single__entry-title__font-weight;
    color: $single__entry-title__color;
    line-height: $single__entry-title__line-height;
  }

  /* Base */
  @import "base/typography";
  @import "base/elements";
  @import "base/alignment";

  /* Layout */
  @import "layout/navigation";

  p.wp-block a,
  ul.wp-block a,
  blockquote.wp-block a {
    border-bottom: 2px solid var(--gray-150);

    &:hover,
    &:active {
      border-bottom-color: $link__color--hover;
    }
  }

  /* Components */
  @import "components/blocks";
  @import "components/media";
  @import "components/widgets";

  /* Templates */
  // @import 'templates/home';
}

@if ($single__entry-title__font-size--medium != null) {
  @media only screen and (min-width: var(--bp-medium)) {
    .edit-post-visual-editor .editor-styles-wrapper {
      .editor-post-title__block .editor-post-title__input {
        font-size: $single__entry-title__font-size--medium;
      }
    }
  }
}

@if ($single__entry-title__font-size--large != null) {
  @media only screen and (min-width: var(--bp-large)) {
    .edit-post-visual-editor .editor-styles-wrapper {
      .editor-post-title__block .editor-post-title__input {
        font-size: $single__entry-title__font-size--large;
      }
    }
  }
}

@if ($single__entry-title__font-size--xlarge != null) {
  @media only screen and (min-width: var(--bp-xlarge)) {
    .edit-post-visual-editor .editor-styles-wrapper {
      .editor-post-title__block .editor-post-title__input {
        font-size: $single__entry-title__font-size--xlarge;
      }
    }
  }
}
